<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cadastro Web</title>
</head>
<body>
    {{{body}}}
<<<<<<< Updated upstream
</body>
=======
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
<script>
    axios.get('http://localhost:3000/')
      .then(response => {
        const data = response.data;
        const ul = document.querySelector('ul');
  
        for (const key in data) {
          if (data.hasOwnProperty(key)) {
            const li = document.createElement('li');
            li.textContent = `${key}: ${data[key]}`;
            ul.appendChild(li);
          }
        }
      })
      .catch(error => console.log(error));
  </script>
</body>

>>>>>>> Stashed changes
</html>
